__pycache__/fitnesstype.cpython-38.pyc
__pycache__/poseutil.cpython-38.pyc
__pycache__/read.cpython-38.pyc
__pycache__/videowriter.cpython-38.pyc
放弃的尝试/multThread.py
放弃的尝试/posetrace.py
放弃的尝试/pullups.py
放弃的尝试/pushtest.py
放弃的尝试/read.py
放弃的尝试/situps.py
放弃的尝试/sockettest.py
放弃的尝试/sockettest2.py
放弃的尝试/test.py
放弃的尝试/videowriter.py
*.mp4
test.html